
<template>
    <link rel="stylesheet" href="components/search-bar/search-bar.css">
    <div class="search-bar">
        <div class="input-box departure">
            <i class="fa-solid fa-person"></i>
            <input type="text" placeholder="Départ">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="input-box destination">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Arrivée">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</template>

