<template>
    <link rel="stylesheet" href="components/instruction/instruction.css">
    <div class="instruction">
        <div class="direction">
            <i id="arrow" class="fa-solid"></i>
        </div>
        <div class="textualIndication">
            <p></p>
        </div>
        <div class="RemainingTime">
            <i id="clock" class="fa-solid fa-clock"></i>
            <p class="Time"></p>
        </div>
    </div>
</template>

<script src="https://kit.fontawesome.com/53c6d15768.js" crossorigin="anonymous"></script>
